.topbar {
  background: var(--linear-gradient);
}

.topbar__items {
  height: 100%;
  min-height: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-4xl);
  overflow: auto; /* добавляем прокрутку */
  white-space: nowrap;
}

/* скрываем полосу прокрутки */
.topbar__items::-webkit-scrollbar {
  display: none;
}

.topbar__item {
  display: flex;
  gap: var(--spacing-xs);
}

span {
  font-size: var(--text-sm);
  color: var(--p-neutral-50);
  font-weight: 300;
}

.pi {
  color: var(--p-neutral-50);
}
